* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa',
        sans-serif;
}

:root {
    --orange: #cb8414;
    --main-background: #333;
    --secondary-background: #2c2b2b;
}

nav {
    background-color: #000;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav .container-fluid {
    max-width: 1000px;
    margin: 0 auto;
}

.navbar-toggler {
    background-color: var(--orange) !important;
    margin-right: 10px;
}

.hamburger-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.hamburger-container img {
    width: 100%;
}

#navbarSupportedContent {
    background-color: #000;
    padding: 10px;
    margin-top: -10px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ccc !important;
}

.menu-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    /* display: none; */
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    background-color: #000;
    transition: 0.5s ease-in-out;
    z-index: 10;
    padding-left: 0;
}

.menu-list.active {
    top: calc(0% + 100px);
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s color ease-in-out;
}

.menu-item a:hover {
    color: #ccc;
}

.main-screen {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    /* display: none; */
}

.main-screen::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-screen-image img {
    width: 100%;
    height: calc(100vh - 100px);
}

.main-screen-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
    max-width: 700px;
    padding: 20px;
    z-index: 1;
    width: 90%;
    text-align: center;
}

section {
    background-color: var(--main-background);
    color: #fff;
}

.section-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
}

.sidebar {
    width: 100%;
}

.sidebar .form-container,
.realizations-container {
    background-color: var(--secondary-background);
    text-align: center;
    padding: 10px;
}

/* .realizations-container {
    margin-top: 20px;
} */

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-container form input {
    width: 100%;
    padding: 8px;
}

.calculator-submit {
    background-color: #000;
    color: #fff;
    border: none;
    transition: 0.3s ease-in-out;
}

.calculator-submit:hover {
    background-color: #fff;
    color: #000;
}

.calculator-contact,
.see-realizations {
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    padding: 8px;

}

.calculator-contact:hover,
.see-realizations:hover {
    color: #fff;
}

.logos-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.last-realizations-block {
    max-height: 250px;
}

.carousel-item.active {
    max-height: 250px;
    max-width: 370px;
}

.carousel-item img {
    max-height: 250px;
    max-width: 370px;
}



.installations-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 10px 50px 10px;
}

.list-header {
    margin-top: 30px;
}

.installation-list {
    list-style: none;
    padding-left: 0;
}

.installation-name {
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

.installation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px var(--secondary-background);
    padding: 20px;
    margin-bottom: 10px;
}

a.installation-link {
    display: block;
    color: #fff;
    background-color: var(--orange);
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
}

a.installation-link:hover {
    background-color: #fff;
    color: #000;
}

.installation-image img {
    max-width: 100px;
}



/* Service page start */

.service-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
}

.service-wrapper p {
    margin-bottom: 50px;
}

/* Service page end */

/* Realizations page start */

.asyncGallery {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1000;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.95);
    transition: opacity 200ms, visibility 200ms;
}

.asyncGallery.is-visible {
    opacity: 1;
    visibility: visible;
}

.asyncGallery__Item {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: opacity 200ms, visibility 200ms;
}

.asyncGallery__Item.is-visible {
    opacity: 1;
    visibility: visible;
}

.asyncGallery__ItemImage img {
    max-height: 80vh;
    display: block;
}

.asyncGallery__ItemDescription,
.asyncGallery__Loader {
    color: #fff;
}

.asyncGallery__Loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
    z-index: 100;
}

.asyncGallery__Loader.is-visible {
    display: block;
}

.asyncGallery button {
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 0;
    cursor: pointer;
}

.asyncGallery__Close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-image: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTEycHgiIHZlcnNpb249IjEuMSIgaGVpZ2h0PSI1MTJweCIgdmlld0JveD0iMCAwIDY0IDY0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2NCA2NCI+CiAgPGc+CiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjguOTQxLDMxLjc4NkwwLjYxMyw2MC4xMTRjLTAuNzg3LDAuNzg3LTAuNzg3LDIuMDYyLDAsMi44NDljMC4zOTMsMC4zOTQsMC45MDksMC41OSwxLjQyNCwwLjU5ICAgYzAuNTE2LDAsMS4wMzEtMC4xOTYsMS40MjQtMC41OWwyOC41NDEtMjguNTQxbDI4LjU0MSwyOC41NDFjMC4zOTQsMC4zOTQsMC45MDksMC41OSwxLjQyNCwwLjU5YzAuNTE1LDAsMS4wMzEtMC4xOTYsMS40MjQtMC41OSAgIGMwLjc4Ny0wLjc4NywwLjc4Ny0yLjA2MiwwLTIuODQ5TDM1LjA2NCwzMS43ODZMNjMuNDEsMy40MzhjMC43ODctMC43ODcsMC43ODctMi4wNjIsMC0yLjg0OWMtMC43ODctMC43ODYtMi4wNjItMC43ODYtMi44NDgsMCAgIEwzMi4wMDMsMjkuMTVMMy40NDEsMC41OWMtMC43ODctMC43ODYtMi4wNjEtMC43ODYtMi44NDgsMGMtMC43ODcsMC43ODctMC43ODcsMi4wNjIsMCwyLjg0OUwyOC45NDEsMzEuNzg2eiIvPgogIDwvZz4KPC9zdmc+Cg==");
}

.asyncGallery__Counter {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    right: 40px;
    bottom: 40px;
}

.asyncGallery__Dots {
    position: absolute;
    left: 50%;
    bottom: 40px;
    display: flex;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
    list-style-type: none;
    z-index: 1000;
}

.asyncGallery__Dots button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 0;
    outline: 0;
    border-radius: 50%;
}

.asyncGallery__Dots li {
    opacity: 0.2;
    transition: opacity 200ms;
}

.asyncGallery__Dots li+li {
    margin-left: 10px;
}

.asyncGallery__Dots li.is-active {
    opacity: 1;
}

.asyncGallery__Next,
.asyncGallery__Prev {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    z-index: 1000;
    transition: transform 200ms, opacity 200ms;
    transform: translateY(-50%);
}

.asyncGallery__Next:disabled,
.asyncGallery__Prev:disabled {
    opacity: 0.2;
    cursor: default;
}

.asyncGallery__Next:before,
.asyncGallery__Prev:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 129 129'%3E%3Cg%3E%3Cpath d='m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.asyncGallery__Next {
    right: 40px;
}

.asyncGallery__Next:hover {
    transform: translateX(2px) translateY(-50%);
}

.asyncGallery__Next:before {
    transform: translate3d(-50%, -50%, 0);
}

.asyncGallery__Prev {
    left: 40px;
}

.asyncGallery__Prev:hover {
    transform: translateX(-2px) translateY(-50%);
}

.asyncGallery__Prev:before {
    transform: translate3d(-50%, -50%, 0) scale(-1);
}


.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px 50px 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gallery div {
    max-width: calc(25% - 20px);
    margin: 10px;
    transition: opacity 200ms;
    cursor: pointer;
}

.gallery div:hover {
    opacity: 0.8;
}

.gallery div img {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .asyncGallery__Close {
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .asyncGallery__Dots {
        bottom: 15px;
    }

    .asyncGallery__Counter {
        right: 15px;
        bottom: 15px;
        font-size: 12px;
    }

    .asyncGallery__Item {
        width: 100%;
    }

    .asyncGallery__ItemImage img {
        max-height: none;
        max-width: 100%;
    }

    .asyncGallery__ItemDescription {
        padding: 0 20px;
    }

    .asyncGallery__Next,
    .asyncGallery__Prev {
        display: none;
        /* DEMO */
    }

    .gallery {
        display: block;
    }

    .gallery div {
        max-width: 100%;
        margin: 20px 0 0;
    }

    .gallery div img {
        max-width: 100%;
        min-width: 100%;
    }
}


/* Realizations page end */

/* Pricing page start */

.cookies-wrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 90%;
    font-size: 14px;
    padding: 20px;
    border-radius: 20px;
    z-index: 1000000;
    background-color: var(--secondary-background);
    color: #fff;
    text-align: center;
    max-width: 400px;
}

.cookies-wrapper.active {
    display: block;
}

.cookies-wrapper .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a {
    display: block;
    padding: 10px 15px;
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
}

.pricing-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 10px 50px 10px;
    text-align: center;
}

.pricing-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 10px;
}

.pricing-box {
    background-color: var(--secondary-background);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px var(--secondary-background);
}

.price-name {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.price-name::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 5px;
    background-color: var(--orange);
    border-radius: 20px;
    ;
}

.price-list {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 0;
}

/* Pricing page end */


/* Contact page start */

.contact-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 10px 50px 10px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 5px;
    border-radius: 5px;
}

.two-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.two-inputs input {
    flex-basis: 50%;
}

.contact-form textarea {
    width: 100%;
    height: 100px;
}

.contact-form input:nth-child(2) {
    width: 100%;
}

address a {
    text-decoration: none;
    color: var(--orange);
}

.contact-form .send-msg {
    background-color: var(--orange);
    color: #fff;
    border: none;
    outline: none;
    display: block;
    padding: 10px 15px;
    align-self: flex-start;
}

/* Contact page end */

/* Valuation page start */
.valuation-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.valuation-form input {
    width: 70%;
}

.valuation-form textarea {
    width: 70%;
}

/* Valuation page end */
iframe {
    width: 100%;
    height: 300px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer p {
    padding: 0;
    margin: 0;
}

.cookies-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 10px 50px 10px;
}

/* Media Queries */
@media (min-width: 768px) {
    .main-screen {
        display: block;
    }

    .cookies-wrapper {
        bottom: 10px;
        right: 10px;
        top: auto;
        left: auto;
        transform: none;
    }
}

@media (min-width: 1024px) {
    .menu-list {
        display: flex;
    }

    .main-screen-text {
        transform: translateX(0);
        left: 100px;
        text-align: left;
    }

    .menu-list {
        position: relative;
        flex-direction: row;
    }

    .hamburger-container {
        display: none;
    }
}
